@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Poppins:wght@300;500;600;700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
}

.fa {
  color: white;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0;
}

h1 {
  font-family: "Poppins", serif;
  font-size: 1.8rem;
  letter-spacing: 0.6rem;
  text-align: center;
}

h2 {
  font-family: "Poppins", serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.05rem;
}

h3 {
  font-family: "Poppins", serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
}

pre {
  font-family: "Poppins", serif;
  margin: 0 2rem;
}

body {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
}

.button-a {
  padding: 0.6rem 1.3rem;
  border-radius: 3px;
}

.color-darkblue {
  color: #005473;
}
.bg-color-darkblue {
  background-color: #005473;
}
.bg-color-teal {
  background-color: #c6feff;
}

/*  */
/* HEADER */
/*  */

header {
  background-color: #005473;
  margin: 0;
}

nav {
  max-width: 1600px;
  height: 4.6rem;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  padding-block: 0.3rem;
}

header ul {
  padding: 0;
}

nav a {
  padding: 0 1.2rem;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 500;
}

nav ul {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  xxbackground-color: red;
  padding: 0.6rem 1rem;
  margin: 3px;
}

nav a:not(.navbar-logo, .navbar-daftar):hover {
  background-color: white;
  color: #112134;
  border-radius: 3px;
  transition: 0.1s;
}

a.navbar-center-container {
  position: absolute;
}

/* NAVBAR LEFT */

.navbar-community {
  cursor: pointer;
}

.community-dropdown {
  display: none;
  position: absolute;

  margin: 0 3px;
  background-color: white;
  border-radius: 3px;
  width: 114px;
  opacity: 0;
}

.navbar-community:hover .community-dropdown {
  display: block;
  animation: dropdown 0.05s ease-in-out;
  opacity: 1;
}

@keyframes dropdown {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

.community-dropdown a {
  color: #005473;
}

/*  */
/* NAVBAR CENTER / LOGO */
/*  */

.navbar-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.navbar-center img {
  width: 72px;
}

.navbar-center a {
  padding: 0;
}

.navbar-center a:hover {
  /* background-color: ; */
}

/*  */
/* NAVBAR RIGHT */
/*  */

.navbar-daftar {
  background-color: white;
  color: #112134;
  border: 3px solid #005473;
  border-radius: 6px;
  transition: 0.2s;
}

.navbar-daftar:hover {
  background-color: #045572;
  color: white;
  border: 3px solid white;
}

/*  */
/* HERO */
/*  */

article.hero {
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-hero {
  width: 100%;
  height: 880px;
  background-image: linear-gradient(rgb(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 60px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-container {
  display: flex;
  flex-direction: column;
  width: 750px;
  justify-content: center;
  gap: 2.5rem;
}

.hero-logo {
  display: flex;
  justify-content: center;
}

.hero-logo-img img {
  height: 180px;
}

.hero-logo-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-logo-text * {
  color: #112134;
  font-family: "EB Garamond", serif;
  margin: 0;
  display: flex;
  justify-content: end;
}

.hero-logo-text h1 {
  font-size: 6rem;

  font-weight: 500;
  letter-spacing: 0.6rem;
  line-height: 1;
}

.hero-logo-text h2 {
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.hero-logo-text h3 {
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}

.hero-tagline {
  text-align: center;
}
.hero-daftar {
  text-align: center;
}

.hero-daftar a {
  background-color: #005473;
  color: white;
}

.hero-daftar a:hover {
  background-color: white;
  border: 2px solid #005473;
  color: #005473;
  transition: all 0.1s ease-in;
}

a.hero-tanya {
  font-size: 0.8rem;
  text-decoration: underline;
  text-align: center;
  font-weight: 700;
}

a.hero-tanya:hover {
  letter-spacing: 1px;
  transition: all 0.1s ease-in;
}

.content-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* PARTNER */

#partner {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; */
}

.partner-logo img {
  max-width: 150px;
  max-height: 100px;
}

.partner-logo-container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

/* KEUNGGULAN */

#keunggulan {
  background-color: #c6feff;
  color: white;
}

#keunggulan h1 {
  color: black;
}

.keunggulan-container {
  max-width: 1280px;
  margin: 1rem auto;

  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.keunggulan-items {
  background-image: linear-gradient(rgb(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/keunggulan-items-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 360px;
  height: 450px;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.keunggulan-items h2 {
  background-color: #005473;
  height: 4.6rem;
  border-radius: 0.8rem 0.8rem 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.keunggulan-items h3 {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0 84 113);
  font-weight: 600;

  text-align: start;
  border-radius: 0 0 0.8rem 0.8rem;
  padding: 2rem;

  display: flex;
  align-items: center;
}

/* STATISTIK */

#statistik {
}

.statistik-container {
  display: flex;
  justify-content: center;
}

.statistik-items {
  display: inline-block;
  margin: 0 1rem;
  color: #005473;
}

.statistik-items span {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2;
}

/*  */
/* TESTIMONI */
/*  */

#testi {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
}

.testi-container-bg {
  background-image: url(../img/testimoni.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}

.testi-container-bg h1 {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 42px;

  text-align: center;
}

.testi-items {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testi-items-header {
  height: 3rem;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.testi-murid-active {
  background-color: #112233;
  padding: 2px 18px;
  border-radius: 3px;
}

.testi-items-main {
  text-align: left;
  display: flex;
  height: 100%;
}

.testi-pp {
  background-color: #efffff;
  width: 150px;
  height: 150px;
}

.testi-pp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testi-desc {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.testi-quotesymbol-1 {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 5rem;
}

.testi-quotesymbol-2 {
  position: absolute;
  bottom: -30px;
  right: 10px;
  font-size: 5rem;
}

.testi-quote {
  padding: 0.8rem;
}

.testi-items-footer h3 {
  color: white;
  text-align: start;
  padding: 0.4rem;
}
/*  */
/* GALERI */
/*  */

.galeri-image-container {
  display: flex;
  height: 500px;
}
.galeri-image-items {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 33.33%;
}

.galeri-image-items img {
  object-fit: cover;
  width: 100%;
}

.galeri-button {
  color: white;
}

/*  */
/* ASIDE */
/*  */

aside {
  color: white;

  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  z-index: 1;
}
aside .hide {
}

.aside-container {
  background-color: #045572;
  padding: 2rem 1.2rem;
  margin: auto 0.9rem;
  width: 180px;
  border-radius: 1rem;
}

aside img {
  width: 100%;
  background-color: #c7feff;
  border-radius: 0.3rem;

  object-fit: fill;
}

.aside-biodata {
}

.aside-notes {
}

/*  */
/* FOOTER */
/*  */

footer {
  background-color: #112134;
  width: auto;
  height: 400px;
  color: white;
}

.footer-container {
  height: 100%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-left img {
  width: 160px;

  object-fit: cover;
}

.footer-left-desc h3 {
  margin: 6px 0;
}

.footer-right {
  height: auto;

  display: flex;
  gap: 2rem;
}

.footer-right a {
  display: block;
}

.footer-address {
  margin: 0;
  width: 200px;
}

.footer-contact {
  margin: 0;
}

.footer-left ul {
  display: flex;
  justify-content: start;
  padding: 0;
}

.footer-left li {
  margin-right: 1.2rem;
  font-size: 1.5rem;
}

.footer-bottom h3 {
  box-sizing: border-box;
  text-align: center;

  padding: 0.6rem;
  color: white;
  background-color: #005473;
}
